### LSE Data Analytics Online Career Accelerator

# Course 2: Data Analytics using Python

## Assignment: Diagnostic Analysis using Python

Youâ€™ll be working with real-world data to address a problem faced by the National Health Service (NHS). The analysis will require you to utilise Python to explore the available data, create visualisations to identify trends, and extract meaningful insights to inform decision-making.

# Assignment activity 1

### Insert proof of your GitHub repository. This can be a link or screenshot showing your repo.

**My GitHub repository.** : 
https://github.com/AthAd19/LSE_DA_NHS_analysis




# Assignment activity 2

## Prepare your workstation

In [1]:
# Import the libraries.
import pandas as pd
import numpy as np

# Import Matplotlib.
import matplotlib.pyplot as plt

In [2]:
# Import Data sets
ad = pd.read_csv('actual_duration.csv')
ar = pd.read_csv('appointments_regional.csv')
nc = pd.read_excel('national_categories.xlsx')

tweets = pd.read_csv('tweets.csv')

In [3]:
# View the ACTUAL DURATION DataFrame
ad.head()

,sub_icb_location_code,sub_icb_location_ons_code,sub_icb_location_name,icb_ons_code,region_ons_code,appointment_date,actual_duration,count_of_appointments
0,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,31-60 Minutes,364
1,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,21-30 Minutes,619
2,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,6-10 Minutes,1698
3,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,Unknown / Data Quality,1277
4,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,16-20 Minutes,730

In [4]:
# View the REGIONAL APPOINTMENT DataFrame
ar.head()

,icb_ons_code,appointment_month,appointment_status,hcp_type,appointment_mode,time_between_book_and_appointment,count_of_appointments
0,E54000034,2020-01,Attended,GP,Face-to-Face,1 Day,8107
1,E54000034,2020-01,Attended,GP,Face-to-Face,15 to 21 Days,6791
2,E54000034,2020-01,Attended,GP,Face-to-Face,2 to 7 Days,20686
3,E54000034,2020-01,Attended,GP,Face-to-Face,22 to 28 Days,4268
4,E54000034,2020-01,Attended,GP,Face-to-Face,8 to 14 Days,11971

In [5]:
# View the NATIONAL CATEGORIES DataFrame
nc.head()

,appointment_date,icb_ons_code,sub_icb_location_name,service_setting,context_type,national_category,count_of_appointments,appointment_month
0,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Primary Care Network,Care Related Encounter,Patient contact during Care Home Round,3,2021-08
1,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Other,Care Related Encounter,Planned Clinics,7,2021-08
2,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Home Visit,79,2021-08
3,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,General Consultation Acute,725,2021-08
4,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Structured Medication Review,2,2021-08

In [6]:
# SENSE-CHECKING : ACTUAL DURATION

# Check Headers
print("Headers: ","\n", ad.columns,"\n")

Headers:
 Index(['sub_icb_location_code', 'sub_icb_location_ons_code',
       'sub_icb_location_name', 'icb_ons_code', 'region_ons_code',
       'appointment_date', 'actual_duration', 'count_of_appointments'],
      dtype='object')

In [7]:
# Check for missing values.
ad_na = ad[ad.isna().any(axis=1)]

print(ad_na.size,"Rows with Missing Data \n")

ad.info()
ad.describe()

0 Rows with Missing Data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137793 entries, 0 to 137792
Data columns (total 8 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   sub_icb_location_code      137793 non-null  object
 1   sub_icb_location_ons_code  137793 non-null  object
 2   sub_icb_location_name      137793 non-null  object
 3   icb_ons_code               137793 non-null  object
 4   region_ons_code            137793 non-null  object
 5   appointment_date           137793 non-null  object
 6   actual_duration            137793 non-null  object
 7   count_of_appointments      137793 non-null  int64
dtypes: int64(1), object(7)
memory usage: 8.4+ MB

       count_of_appointments
count          137793.000000
mean             1219.080011
std              1546.902956
min                 1.000000
25%               194.000000
50%               696.000000
75%              1621.000000
max             15400.000000

In [8]:
# SENSE-CHECKING : APPOINTMENTS REGIONAL

# Check Headers
print("Headers: ","\n", ar.columns,"\n")

Headers:
 Index(['icb_ons_code', 'appointment_month', 'appointment_status', 'hcp_type',
       'appointment_mode', 'time_between_book_and_appointment',
       'count_of_appointments'],
      dtype='object')

In [9]:
# Check for missing values.
ar_na = ar[ar.isna().any(axis=1)]

print(ar_na.size,"Rows with Missing Data \n")

ar.info()
ar.describe()

0 Rows with Missing Data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 596821 entries, 0 to 596820
Data columns (total 7 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   icb_ons_code                       596821 non-null  object
 1   appointment_month                  596821 non-null  object
 2   appointment_status                 596821 non-null  object
 3   hcp_type                           596821 non-null  object
 4   appointment_mode                   596821 non-null  object
 5   time_between_book_and_appointment  596821 non-null  object
 6   count_of_appointments              596821 non-null  int64
dtypes: int64(1), object(6)
memory usage: 31.9+ MB

       count_of_appointments
count          596821.000000
mean             1244.601857
std              5856.887042
min                 1.000000
25%                 7.000000
50%                47.000000
75%               308.000000
max            211265.000000

In [10]:
# SENSE-CHECKING : NATIONAL CATEGORIES

# Check Headers
print("Headers: ","\n", nc.columns,"\n")

Headers:
 Index(['appointment_date', 'icb_ons_code', 'sub_icb_location_name',
       'service_setting', 'context_type', 'national_category',
       'count_of_appointments', 'appointment_month'],
      dtype='object')

In [11]:
# Check for missing values.
nc_na = nc[nc.isna().any(axis=1)]

print(nc_na.size,"Rows with Missing Data \n")

nc.info()
nc.describe()

0 Rows with Missing Data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 817394 entries, 0 to 817393
Data columns (total 8 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   appointment_date       817394 non-null  datetime64[ns]
 1   icb_ons_code           817394 non-null  object
 2   sub_icb_location_name  817394 non-null  object
 3   service_setting        817394 non-null  object
 4   context_type           817394 non-null  object
 5   national_category      817394 non-null  object
 6   count_of_appointments  817394 non-null  int64
 7   appointment_month      817394 non-null  object
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 49.9+ MB

       count_of_appointments
count          817394.000000
mean              362.183684
std              1084.576600
min                 1.000000
25%                 7.000000
50%                25.000000
75%               128.000000
max             16590.000000

## Explore the data set

### 2.1. How many locations are there in the data set?

In [12]:
# create User-defined function for repetitive counting of unique items
# under each header from 'nc' dataframe
def column_count(para, para_name):
    
    count = nc[para].value_counts().size
    print("Number of",para_name,":", count)
    
    return

column_count('sub_icb_location_name',"Unique Locations")

Number of Unique Locations : 106

### 2.2. What are the five locations with the highest number of records?

In [13]:
# five locations with the highest number of entries
ad['sub_icb_location_name'].value_counts().head()

NHS Norfolk and Waveney ICB - 26A                       1484
NHS Kent and Medway ICB - 91Q                           1484
NHS North West London ICB - W2U3Z                       1484
NHS Bedfordshire Luton and Milton Keynes ICB - M1J4Y    1484
NHS Greater Manchester ICB - 14L                        1484
Name: sub_icb_location_name, dtype: int64

In [14]:
# five locations with the highest number of appointments
ad.groupby('sub_icb_location_name')\
        .sum('count_of_appointments')\
        .sort_values('count_of_appointments', ascending=False)\
        .head()

                                             count_of_appointments
sub_icb_location_name
NHS North West London ICB - W2U3Z                          6976986
NHS North East London ICB - A3A8R                          5341883
NHS Kent and Medway ICB - 91Q                              5209641
NHS Hampshire and Isle Of Wight ICB - D9Y0V                4712737
NHS South East London ICB - 72Q                            4360079

In [15]:
# five locations with the highest number of entries
nc['sub_icb_location_name'].value_counts().head()

NHS North West London ICB - W2U3Z              13007
NHS Kent and Medway ICB - 91Q                  12637
NHS Devon ICB - 15N                            12526
NHS Hampshire and Isle Of Wight ICB - D9Y0V    12171
NHS North East London ICB - A3A8R              11837
Name: sub_icb_location_name, dtype: int64

In [16]:
# five locations with the highest number of appointments
nc.groupby('sub_icb_location_name')\
        .sum('count_of_appointments')\
        .sort_values('count_of_appointments', ascending=False)\
        .head()

                                             count_of_appointments
sub_icb_location_name
NHS North West London ICB - W2U3Z                         12142390
NHS North East London ICB - A3A8R                          9588891
NHS Kent and Medway ICB - 91Q                              9286167
NHS Hampshire and Isle Of Wight ICB - D9Y0V                8288102
NHS South East London ICB - 72Q                            7850170

### 2.3. How many service settings, context types, national categories, and appointment statuses are there?

In [17]:
# call on same User-defined function for counting 

column_count('service_setting',"Service Settings")
column_count('context_type',"Contect Types")
column_count('national_category',"National Categories")

Number of Service Settings : 5
Number of Contect Types : 3
Number of National Categories : 18

In [18]:
as_unique = ar['appointment_status'].value_counts()

print("Number of unique appt status: ", as_unique.size)

Number of unique appt status:  3

# Assignment activity 3

### Continue to explore the data and search for answers to more specific questions posed by the NHS.

### 3.1. Between what dates were appointments scheduled?

In [19]:
# View the first & last five rows of appointment_date 
# for the ad DataFrame to determine the date format.

ad['appointment_date']

0         01-Dec-21
1         01-Dec-21
2         01-Dec-21
3         01-Dec-21
4         01-Dec-21
            ...
137788    30-Jun-22
137789    30-Jun-22
137790    30-Jun-22
137791    30-Jun-22
137792    30-Jun-22
Name: appointment_date, Length: 137793, dtype: object

In [20]:
# Change the date format of ad['appointment_date'] to yyyy-mm-dd
ad["appointment_date"] = pd.to_datetime(ad["appointment_date"])

# View the DateFrame.
ad["appointment_date"]

0        2021-12-01
1        2021-12-01
2        2021-12-01
3        2021-12-01
4        2021-12-01
            ...
137788   2022-06-30
137789   2022-06-30
137790   2022-06-30
137791   2022-06-30
137792   2022-06-30
Name: appointment_date, Length: 137793, dtype: datetime64[ns]

In [21]:
# Determine the minimum and maximum dates in the ad DataFrame.
print("Appointment dates in ar DataFrame are between",\
      ad["appointment_date"].min().date(),"and",\
      ad["appointment_date"].max().date() )

Appointment dates in ar DataFrame are between 2021-12-01 and 2022-06-30

In [22]:
# View the first & last five rows of appointment_date 
# for the nc DataFrame to determine the date format.

nc['appointment_date']

0        2021-08-02
1        2021-08-02
2        2021-08-02
3        2021-08-02
4        2021-08-02
            ...
817389   2022-06-30
817390   2022-06-30
817391   2022-06-30
817392   2022-06-30
817393   2022-06-30
Name: appointment_date, Length: 817394, dtype: datetime64[ns]

*__~ nc data set : Appointment date already in__ yyy-mm-dd __format --> no change needed ~__*

In [23]:
# Determine the minimum and maximum dates in the nc DataFrame.
print("Appointment dates in nc DataFrame are between",\
      nc["appointment_date"].min().date(),"and",\
      nc["appointment_date"].max().date() )

Appointment dates in nc DataFrame are between 2021-08-01 and 2022-06-30

### 3.2. Which service setting was the most popular for NHS North West London from 1 January to 1 June 2022?

_For each of these service settings, determine the number of records available for the period and the location_

In [24]:
# First, I check if there's more that 1 Hospital in NHS North West London
for word in nc['sub_icb_location_name'].unique():
    if 'nhs north west london' in word.lower(): 
        print(word)

NHS North West London ICB - W2U3Z

In [25]:
# Filter to show only records from "NHS North West London ICB - W2U3Z"
nc_NWLon = nc[nc['sub_icb_location_name']=="NHS North West London ICB - W2U3Z"]

nc_NWLon.head()

,appointment_date,icb_ons_code,sub_icb_location_name,service_setting,context_type,national_category,count_of_appointments,appointment_month
794321,2021-08-01,E54000027,NHS North West London ICB - W2U3Z,Unmapped,Unmapped,Unmapped,607,2021-08
794322,2021-08-01,E54000027,NHS North West London ICB - W2U3Z,Other,Inconsistent Mapping,Inconsistent Mapping,6,2021-08
794323,2021-08-01,E54000027,NHS North West London ICB - W2U3Z,General Practice,Inconsistent Mapping,Inconsistent Mapping,47,2021-08
794324,2021-08-01,E54000027,NHS North West London ICB - W2U3Z,General Practice,Care Related Encounter,Walk-in,74,2021-08
794325,2021-08-01,E54000027,NHS North West London ICB - W2U3Z,General Practice,Care Related Encounter,Planned Clinics,98,2021-08

In [26]:
# Further filter to show only records from from 1 January to 1 June 2022
nc_NWLon_0101_010622 = nc_NWLon[(nc_NWLon['appointment_date']>"2021-12-31") & \
                                (nc_NWLon['appointment_date']<"2022-06-02")]

nc_NWLon_0101_010622

,appointment_date,icb_ons_code,sub_icb_location_name,service_setting,context_type,national_category,count_of_appointments,appointment_month
800289,2022-01-01,E54000027,NHS North West London ICB - W2U3Z,Unmapped,Unmapped,Unmapped,496,2022-01
800290,2022-01-01,E54000027,NHS North West London ICB - W2U3Z,Primary Care Network,Care Related Encounter,Clinical Triage,19,2022-01
800291,2022-01-01,E54000027,NHS North West London ICB - W2U3Z,Other,Inconsistent Mapping,Inconsistent Mapping,1,2022-01
800292,2022-01-01,E54000027,NHS North West London ICB - W2U3Z,General Practice,Inconsistent Mapping,Inconsistent Mapping,16,2022-01
800293,2022-01-01,E54000027,NHS North West London ICB - W2U3Z,Primary Care Network,Care Related Encounter,Planned Clinics,29,2022-01
...,...,...,...,...,...,...,...,...
806220,2022-06-01,E54000027,NHS North West London ICB - W2U3Z,Extended Access Provision,Care Related Encounter,Home Visit,4,2022-06
806221,2022-06-01,E54000027,NHS North West London ICB - W2U3Z,Extended Access Provision,Care Related Encounter,General Consultation Routine,27,2022-06
806222,2022-06-01,E54000027,NHS North West London ICB - W2U3Z,General Practice,Care Related Encounter,Unplanned Clinical Activity,626,2022-06
806223,2022-06-01,E54000027,NHS North West London ICB - W2U3Z,Extended Access Provision,Care Related Encounter,General Consultation Acute,224,2022-06
806224,2022-06-01,E54000027,NHS North West London ICB - W2U3Z,Extended Access Provision,Care Related Encounter,Clinical Triage,96,2022-06

In [27]:
nc['service_setting'].value_counts()

General Practice             359274
Primary Care Network         183790
Other                        138789
Extended Access Provision    108122
Unmapped                      27419
Name: service_setting, dtype: int64

In [28]:
nc_NWLon_0101_010622.groupby('service_setting')\
        .sum('count_of_appointments')\
        .sort_values('count_of_appointments', ascending=False)\
        .head()

                           count_of_appointments
service_setting
General Practice                         4804239
Unmapped                                  391106
Other                                     152897
Primary Care Network                      109840
Extended Access Provision                  98159

Results: **General Practice** was the most popular service setting for NHS North West London from 1 January to 1 June 2022


### 3.3. Which month had the highest number of appointments?

In [29]:
# Number of appointments per month == sum of count_of_appointments by month.
nc.groupby(nc.appointment_date.dt.month)\
        .sum('count_of_appointments')\
        .sort_values('count_of_appointments', ascending=False)

                  count_of_appointments
appointment_date
11                             30405070
10                             30303834
3                              29595038
9                              28522501
5                              27495508
6                              25828078
1                              25635474
2                              25355260
12                             25140776
4                              23913060
8                              23852171

Result: The most appointments were made for the month of **November (11)**

In [30]:
ar.groupby('appointment_month')\
        .sum('count_of_appointments')\
        .sort_values('count_of_appointments', ascending=False)

                   count_of_appointments
appointment_month
2021-11                         30405070
2021-10                         30303834
2022-03                         29595038
2021-09                         28522501
2020-10                         28301932
2022-05                         27495508
2021-03                         27225424
2020-01                         27199296
2021-06                         26784182
2020-09                         26714255
2022-06                         25828078
2021-07                         25739219
2022-01                         25635474
2022-02                         25355260
2021-12                         25140776
2020-11                         25061602
2020-02                         24104621
2020-03                         24053468
2022-04                         23913060
2021-04                         23879932
2021-08                         23852171
2020-12                         23535936
2021-05                         23508395
2021-01                         22492069
2020-07                         22491437
2021-02                         22399569
2020-06                         20690805
2020-08                         20150520
2020-05                         16417212
2020-04                         16007881

### 3.4. What was the total number of records per month?

In [31]:
# Total number of records per month.
nc.groupby(nc.appointment_date.dt.month).count()

,appointment_date,icb_ons_code,sub_icb_location_name,service_setting,context_type,national_category,count_of_appointments,appointment_month
appointment_date,,,,,,,,
1,71896,71896,71896,71896,71896,71896,71896,71896
2,71769,71769,71769,71769,71769,71769,71769,71769
3,82822,82822,82822,82822,82822,82822,82822,82822
4,70012,70012,70012,70012,70012,70012,70012,70012
5,77425,77425,77425,77425,77425,77425,77425,77425
6,74168,74168,74168,74168,74168,74168,74168,74168
8,69999,69999,69999,69999,69999,69999,69999,69999
9,74922,74922,74922,74922,74922,74922,74922,74922
10,74078,74078,74078,74078,74078,74078,74078,74078
11,77652,77652,77652,77652,77652,77652,77652,77652
12,72651,72651,72651,72651,72651,72651,72651,72651

#