In [1]:
# Import the libraries.
import pandas as pd
import numpy as np

# Import Matplotlib.
import matplotlib.pyplot as plt

In [2]:
# Import Data sets
ad = pd.read_csv('actual_duration.csv')
ar = pd.read_csv('appointments_regional.csv')
nc = pd.read_excel('national_categories.xlsx')

tweets = pd.read_csv('tweets.csv')

In [3]:
# View the ACTUAL DURATION DataFrame
ad.head()

,sub_icb_location_code,sub_icb_location_ons_code,sub_icb_location_name,icb_ons_code,region_ons_code,appointment_date,actual_duration,count_of_appointments
0,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,31-60 Minutes,364
1,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,21-30 Minutes,619
2,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,6-10 Minutes,1698
3,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,Unknown / Data Quality,1277
4,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,16-20 Minutes,730

In [4]:
# View the REGIONAL APPOINTMENT DataFrame
ar.head()

,icb_ons_code,appointment_month,appointment_status,hcp_type,appointment_mode,time_between_book_and_appointment,count_of_appointments
0,E54000034,2020-01,Attended,GP,Face-to-Face,1 Day,8107
1,E54000034,2020-01,Attended,GP,Face-to-Face,15 to 21 Days,6791
2,E54000034,2020-01,Attended,GP,Face-to-Face,2 to 7 Days,20686
3,E54000034,2020-01,Attended,GP,Face-to-Face,22 to 28 Days,4268
4,E54000034,2020-01,Attended,GP,Face-to-Face,8 to 14 Days,11971

In [5]:
# View the NATIONAL CATEGORIES DataFrame
nc.head()

,appointment_date,icb_ons_code,sub_icb_location_name,service_setting,context_type,national_category,count_of_appointments,appointment_month
0,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Primary Care Network,Care Related Encounter,Patient contact during Care Home Round,3,2021-08
1,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Other,Care Related Encounter,Planned Clinics,7,2021-08
2,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Home Visit,79,2021-08
3,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,General Consultation Acute,725,2021-08
4,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Structured Medication Review,2,2021-08

In [40]:
# SENSE-CHECKING : ACTUAL DURATION

# Check Headers
print("Headers: ","\n", ad.columns,"\n")

Headers:
 Index(['sub_icb_location_code', 'sub_icb_location_ons_code',
       'sub_icb_location_name', 'icb_ons_code', 'region_ons_code',
       'appointment_date', 'actual_duration', 'count_of_appointments'],
      dtype='object')

In [41]:
# Check for missing values.
ad_na = ad[ad.isna().any(axis=1)]

print("Missing data check: ", ad_na.shape,"\n")

ad.info()
ad.describe()

Missing data check:  (0, 8)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137793 entries, 0 to 137792
Data columns (total 8 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   sub_icb_location_code      137793 non-null  object
 1   sub_icb_location_ons_code  137793 non-null  object
 2   sub_icb_location_name      137793 non-null  object
 3   icb_ons_code               137793 non-null  object
 4   region_ons_code            137793 non-null  object
 5   appointment_date           137793 non-null  object
 6   actual_duration            137793 non-null  object
 7   count_of_appointments      137793 non-null  int64
dtypes: int64(1), object(7)
memory usage: 8.4+ MB

       count_of_appointments
count          137793.000000
mean             1219.080011
std              1546.902956
min                 1.000000
25%               194.000000
50%               696.000000
75%              1621.000000
max             15400.000000

In [42]:
# SENSE-CHECKING : APPOINTMENTS REGIONAL

# Check Headers
print("Headers: ","\n", ar.columns,"\n")

Headers:
 Index(['icb_ons_code', 'appointment_month', 'appointment_status', 'hcp_type',
       'appointment_mode', 'time_between_book_and_appointment',
       'count_of_appointments'],
      dtype='object')

In [43]:
# Check for missing values.
ar_na = ar[ar.isna().any(axis=1)]

print("Missing data check: ", ar_na.shape,"\n")

ar.info()
ar.describe()

Missing data check:  (0, 7)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 596821 entries, 0 to 596820
Data columns (total 7 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   icb_ons_code                       596821 non-null  object
 1   appointment_month                  596821 non-null  object
 2   appointment_status                 596821 non-null  object
 3   hcp_type                           596821 non-null  object
 4   appointment_mode                   596821 non-null  object
 5   time_between_book_and_appointment  596821 non-null  object
 6   count_of_appointments              596821 non-null  int64
dtypes: int64(1), object(6)
memory usage: 31.9+ MB

       count_of_appointments
count          596821.000000
mean             1244.601857
std              5856.887042
min                 1.000000
25%                 7.000000
50%                47.000000
75%               308.000000
max            211265.000000

In [44]:
# SENSE-CHECKING : NATIONAL CATEGORIES

# Check Headers
print("Headers: ","\n", nc.columns,"\n")

Headers:
 Index(['appointment_date', 'icb_ons_code', 'sub_icb_location_name',
       'service_setting', 'context_type', 'national_category',
       'count_of_appointments', 'appointment_month'],
      dtype='object')

In [45]:
# Check for missing values.
nc_na = nc[nc.isna().any(axis=1)]

print("Missing data check: ", nc_na.shape,"\n")

nc.info()
nc.describe()

Missing data check:  (0, 8)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 817394 entries, 0 to 817393
Data columns (total 8 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   appointment_date       817394 non-null  datetime64[ns]
 1   icb_ons_code           817394 non-null  object
 2   sub_icb_location_name  817394 non-null  object
 3   service_setting        817394 non-null  object
 4   context_type           817394 non-null  object
 5   national_category      817394 non-null  object
 6   count_of_appointments  817394 non-null  int64
 7   appointment_month      817394 non-null  object
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 49.9+ MB

       count_of_appointments
count          817394.000000
mean              362.183684
std              1084.576600
min                 1.000000
25%                 7.000000
50%                25.000000
75%               128.000000
max             16590.000000

### 1. How many locations are there in the data set?

In [98]:
# create User-defined function for repetitive counting of unique items
# under each header from 'ns' dataframe
def column_count(para, para_name):
    
    count = nc[para].value_counts().size
    print("Number of ",para_name,": ", count)
    
    return

column_count('sub_icb_location_name',"Unique Locations")

Number of  Unique Locations :  106

### 2. What are the five locations with the highest number of records?

In [88]:
# five locations with the highest number of entries
nc['sub_icb_location_name'].value_counts().head()

NHS North West London ICB - W2U3Z              13007
NHS Kent and Medway ICB - 91Q                  12637
NHS Devon ICB - 15N                            12526
NHS Hampshire and Isle Of Wight ICB - D9Y0V    12171
NHS North East London ICB - A3A8R              11837
Name: sub_icb_location_name, dtype: int64

In [89]:
# five locations with the highest number of appointments
nc.groupby('sub_icb_location_name')\
        .sum('count_of_appointments')\
        .sort_values('count_of_appointments', ascending=False)\
        .head()

                                             count_of_appointments
sub_icb_location_name
NHS North West London ICB - W2U3Z                         12142390
NHS North East London ICB - A3A8R                          9588891
NHS Kent and Medway ICB - 91Q                              9286167
NHS Hampshire and Isle Of Wight ICB - D9Y0V                8288102
NHS South East London ICB - 72Q                            7850170

### 3. How many service settings, context types, national categories, and appointment statuses are there?

In [97]:
# call on same User-defined function for counting 

column_count('service_setting',"Service Settings")
column_count('context_type',"Contect Types")
column_count('national_category',"National Categories")

Number of  Service Settings :  5
Number of  Contect Types :  3
Number of  National Categories :  18

In [82]:
as_unique = ar['appointment_status'].value_counts()

print("Number of unique appt status: ", as_unique.size)

Number of unique appt status:  3

### What is the date range of the provided data sets, and which service settings reported the most appointments for a specific period?

In [36]:
ad["appointment_date"].describe()

count        137793
unique          212
top       01-Dec-21
freq            742
Name: appointment_date, dtype: object

In [37]:
Appt_date = pd.to_datetime(ad["appointment_date"])

print(Appt_date.describe(datetime_is_numeric=True))

count                           137793
mean     2022-03-16 19:31:17.868977664
min                2021-12-01 00:00:00
25%                2022-01-25 00:00:00
50%                2022-03-16 00:00:00
75%                2022-05-09 00:00:00
max                2022-06-30 00:00:00
Name: appointment_date, dtype: object

In [23]:
Appt_date.min()

Timestamp('2021-12-01 00:00:00')